.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

#delete_form {
  width: 100%;
}

#delete_comment {
  display: inline;
}

.sign_form {
  width: 30%;
  margin: 25px auto;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

.row.text-center {
    display: flex;
    flex-wrap: wrap;
}
